.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px; 
}

.backBtn {
  position: "absolute";
  top: 20px;
  left: 20px;
  background: transparent;
  border: 1px solid #ffe81f;
  color: #ffe81f;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow 0.3s;
}

.backBtn:hover {
  box-shadow: 0 0 15px rgba(255, 232, 31, 0.6);
}