.card {
  background-color: #000;
  cursor: pointer;
  border: 1px solid #ffe81f;
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 calc(20% - 40px);
  width: 220px;
  height: 120px;
  color: #fff;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  box-shadow: 0 0 8px rgba(255, 232, 31, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  align-content: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 232, 31, 0.6);
}

.name {
  font-size: 18px;
  color: #ffe81f;
  margin-bottom: 8px;
}

.gender {
  font-size: 14px;
  color: #ddd;
}

@media (max-width: 600px) {
  .card {
    width: 150px;
    height: 60px;
    padding: 10px;
  }
  .name {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .gender {
    font-size: 12px;
  }
}
